#####################################################
# OLLAMA
#####################################################

OLLAMA_BASE_URL=http://localhost:11434

OLLAMA_MODEL=llama3.1:8b

#####################################################
# OPENAI
#####################################################

OPENAI_API_KEY=TU_API_KEY

#####################################################
# LINKEDIN
#####################################################

LINKEDIN_CLIENT_ID=

LINKEDIN_CLIENT_SECRET=

LINKEDIN_REDIRECT_URI=

LINKEDIN_ACCESS_TOKEN=

#####################################################
# TAVILY
#####################################################

TAVILY_API_KEY=
