####################################################
# Python
####################################################

__pycache__/

*.pyc

*.pyo

*.pyd

####################################################
# Entornos
####################################################

.env

venv/

.venv/

####################################################
# VSCode
####################################################

.vscode/

####################################################
# Pycharm
####################################################

.idea/

####################################################
# Logs
####################################################

logs/

*.log

####################################################
# Resultados
####################################################

outputs/

####################################################
# Cache
####################################################

.pytest_cache/

####################################################
# Notebook
####################################################

.ipynb_checkpoints/

####################################################
# Sistema
####################################################

.DS_Store

Thumbs.db
